{% extends 'base.html' %}
{% load static %}
{% block head %}
        {% block title %}SingGoals{% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">
{% endblock %}
{% block content %}
    {% if not success %}
         <form class="form-horizontal" role="form" action="{% url 'sign_up' %}" method="POST" class="col-md-6 col-md-offset-3">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Sign Up</button>
        </form>
    {% else %}
        <p>Success <a href="{% url 'sign_in' %}">Sign In</a></p>
    {% endif %}
{% endblock %}